---
const response = await fetch("https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=1&sparkline=false");
const posts = await response.json();
---

<body class="bg-gray-800 min-h-screen">
  <div class="max-w-4xl mx-auto py-12">
    <h1 class="text-4xl text-center text-white mb-8">
      Criptomonedas
    </h1>
    <table class="w-full table-auto bg-gray-900 rounded-lg overflow-hidden">
      <thead>
        <tr>
          <th class="px-6 py-4 text-gray-200 text-left">#</th>
          <th class="px-6 py-4 text-gray-200 text-left">Nombre</th>
          <th class="px-6 py-4 text-gray-200 text-right">Precio</th>
        </tr>
      </thead>
      <tbody>
        {posts.map((post, index) => (
          <tr key={post.id}>
            <td class="px-6 py-4 text-gray-200">{index + 1}</td>
            <td class="px-6 py-4 text-gray-200">
              <div class="flex items-center space-x-2">
                <img
                  class="w-8 h-8 rounded-full"
                  src={post.image}
                  alt={`${post.name} logo`}
                />
                <div class="text-gray-200">{post.name}</div>
                <div class="text-gray-400">{post.symbol.toUpperCase()}</div>
              </div>
            </td>
            <td class="px-6 py-4 text-gray-200 text-right">
              <span class="text-green-500">${post.current_price.toLocaleString()}</span>
            </td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
</body>